<div class="footer_box">
  <div class="footer_container">

    <div class="row first">
      <span class="footer_item"><img src="images/bottomPic-1.jpg" alt=""></span>
      <span class="footer_item"><img src="images/bottomPic-2.jpg" alt=""></span>
      <span class="footer_item"><img src="images/bottomPic-3.jpg" alt=""></span>
      <span class="footer_item"><img src="images/bottomPic-4.jpg" alt=""></span>
    </div>
    <div class="row second">
      <span class="footer_item">关于我们</span>
      <span class="footer_item">免责声明</span>
      <span class="footer_item">常见问题</span>
      <span class="footer_item">联系我们</span>
      <span class="footer_item">人才招聘</span>
    </div>
    <hr>
    <div class="row third">
      <span class="footer_item"><span class="copyrights">Copyright@ 2013-2015</span> | 苏ICP备12063525号-4 苏州乐卡网络科技有限公司</span>
    </div>
  </div>
</div>