<div class="header_container">
  <div class="header">
    <span class="login_signup">
      <span class="greetings">您好，欢迎访问方便网!</span>
      <span class="login"><a href="login.html">登录</a></span>
      <span class="signup"><a href="signup.html">注册</a></span>
    </span>
    <span class="order_menu">
      <span class="menu">
        <span class="menu_title"><a href="user.html" style="text-decoration: none; color: #000;">我的订单</a></span>
        <span class="arrow"></span>
        <span class="submenu hide">
          <div class="item">火车票订单</div>
          <div class="item">汽车票订单</div>
        </span>
      </span>
      <span class="mobile_portal">手机方便网</span>
      <span class="arrow"></span>
      <span class="service">客服服务</span>
      <span class="arrow"></span>
    </span>
  </div>
</div>

<div class="top_banner">
  <a href="index.html" class="logo"></a>
  <a href="#" class="sublogo"></a>
  <a href="#" class="app_link"></a>
</div>

<div class="nav_bar_container">
  <div class="nav_bar train">
    <span class="item"></span>
    <span class="item"></span>
    <span class="item"></span>
    <span class="item"></span>
    <span class="item"></span>
    <span class="hotline"></span>
  </div>
</div>