<div class="header_container">
  <div class="header">
    <span class="login_signup">
      <span class="greetings">您好，<a class="uid" href="user.html"></a> 欢迎访问方便网!</span>
      <span class="login"><a href="login.html">登录</a></span>
      <span class="signup"><a href="signup.html">注册</a></span>
      <span class="logout"><a href="javascript:;">退出登录</a></span>
    </span>
    <span class="order_menu">
      <span class="menu">
        <span class="menu_title"><a href="user.html" style="text-decoration: none; color: #000;">我的订单</a></span>
        <span class="arrow"></span>
        <span class="submenu hide">
          <div class="item">火车票订单</div>
          <div class="item">汽车票订单</div>
        </span>
      </span>
      <span class="mobile_portal">手机方便网</span>
      <span class="arrow"></span>
      <span class="service">客服服务</span>
      <span class="arrow"></span>
    </span>
  </div>
</div>

<div class="top_banner">
  <a href="index.html" class="logo"></a>
  <a href="#" class="sublogo"></a>
  <a href="#" class="app_link"></a>
</div>

<div class="nav_bar_container">
  <div class="nav_bar">
    <a href="index.html" class="index item">
      <span class="bg_item"></span>
    </a>
    <a href="train_query.html" class="train item">
      <span class="bg_item"></span>
    </a>
    <a href="coach_query.html" class="coach item">
      <span class="bg_item"></span>
    </a>
    <a href="" class="plane item">
      <span class="bg_item"></span>
    </a>
    <a href="" class="mobile item">
      <span class="bg_item"></span>
    </a>
    <span class="user_center">
      <span class="submenu" style="display:none;">
        <h4><a href="user.html">我的订单</a></h4>
        <div class="menu_item"><a href="train_orders.html">火车票订单</a></div>
        <div class="menu_item"><a href="coach_orders.html">汽车票订单</a></div>
        <div class="menu_item">机票订单</div>
        <h4>我的信息</h4>
        <div class="menu_item">账号信息</div>
        <div class="menu_item"><a href="passengers.html">常用乘客信息</a></div>
        <div class="menu_item"><a href="address.html">邮寄信息</a></div>
        <div class="menu_item"><a href="security.html">安全设置</a></div>
      </span>

    </span>
    <span class="hotline"></span>
  </div>
</div>