<h2 class="nav_header">我的方便网</h2>
<div class="my_oders">
    <h4><a href="user.html">我的订单</a></h4>
    <div class="menu_item"><a href="train_orders.html">火车票订单</a></div>
    <div class="menu_item"><a href="coach_orders.html">汽车票订单</a></div>
    <div class="menu_item">机票订单</div>
</div>

<div class="my_info">
    <h4>我的信息</h4>
    <div class="menu_item">账号信息</div>
    <div class="menu_item"><a href="passengers.html">常用乘客信息</a></div>
    <div class="menu_item"><a href="address.html">邮寄信息</a></div>
    <div class="menu_item"><a href="security.html">安全设置</a></div>
</div>