<span class="ends"><%= decodeURIComponent(tools.parseQueryString().origin_name) %>  →  <%= decodeURIComponent(tools.parseQueryString().dest_name) %></span>
<span class="date">(<%= tools.parseQueryString().date %>)</span>
<span class="result"><span>车票信息</span><span class="num"><%= data.length%></span><span>条</span></span>